<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!--
    Document   : log4j.xml
    Created on : 16 de septiembre de 2010, 05:31 PM
    Author     : ofernandez
    Description:
        Purpose of the document follows.
-->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} [%-8t] %-5p (%c) %m - [linea:%L]%n" />
        </layout>
    </appender>
    <appender name="ROLLFILE" class="org.apache.log4j.RollingFileAppender">
        <param name="file" value="tester.log"/>
        <param name="MaxFileSize" value="1000KB"/>
        <!-- Keep one backup file -->
        <param name="MaxBackupIndex" value="20"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} [%-8t] %-5p (%c) %m - [linea:%L]%n"/>
        </layout>
    </appender>
    <appender name="TEXTAREA" class="com.novatronic.tester.log.JTextAreaAppender">
        <param name="Threshold" value="INFO"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%d{HH:mm:ss}]%m%n"/>
        </layout>
    </appender>
    
    <category name="com.mchange.v2.c3p0.impl.AbstractPoolBackedDataSource"><priority value="ERROR"/></category>
    <category name="com.mchange.v2"><priority value="ERROR"/></category>
    <category name="org.hibernate.cfg"><priority value="ERROR"/></category>
    <category name="org.hibernate.SQL"><priority value="DEBUG"/></category>
    <category name="org.hibernate.Typer"><priority value="DEBUG"/></category>
    <category name="org.hibernate.hql"><priority value="ERROR"/></category>
    <category name="org.hibernate"><priority value="ERROR"/></category>

    <category name="com.novatronic.formatter"><priority value="INFO"/></category>
    <!--<category name="com.novatronic.formatter.Formatter"><priority value="INFO"/></category>-->
    <!--<category name="com.novatronic.formatter.field"><priority value="ERROR"/></category>-->
    <!--<category name="com.novatronic.generator"><priority value="ERROR"/></category>-->
    <!--<category name="com.novatronic.formatter.macros"><priority value="ERROR"/></category>-->
    <!--<category name="com.novatronic.formatter.SimpleFormatter"><priority value="ERROR"/></category>-->

    <root>
        <priority value="DEBUG" />
        <appender-ref ref="ROLLFILE" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="TEXTAREA" />
    </root>

</log4j:configuration>
